<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <!--<include path="~/Content/flatly.css" />-->
    <!--<include path="~/Content/cosmo.css" />-->
    <!--<include path="~/Content/darkly.css" />-->
    <!--<include path="~/Content/cyborg.css" />-->
    <!--<include path="~/Content/darklyflat.css" />-->
    <!--<include path="~/Content/superhero.css" />-->
    <!--<include path="~/Content/paper.css" />-->
    <!--<include path="~/Content/lumen.css" />-->
    <!--<include path="~/Content/bootstrap.min.css" />-->
    <!--<include path="~/Content/Site.css" />-->
    <include path="~/Content/maintenancedarkly.css" />
    <include path="~/Content/maintenancesite.css" />
    <!--<include path="~/Content/customnavbar.css" />-->
  </styleBundle>
</bundles>